

main{
    top:0px;
  right:0px;margin: 0 auto;
  bottom:0px;
  left:0px;
  position:absolute;
    background-image: linear-gradient(rgba(23, 22, 22, 0.4), rgba(7, 7, 7, 0.6)), url("https://assets.nflxext.com/ffe/siteui/vlv3/c732cb00-be61-4d64-b8c3-99f022e7a123/b8504bad-d369-41ce-b99a-c7e3dd23cc98/GH-en-20220620-popsignuptwoweeks-perspective_alpha_website_small.jpg");
}
.container{
    background-color: rgba(0,0,0,.75);
    min-height: 550px;
    border-radius: 4px;
    margin: 0 auto;
    width: 28%;
    justify-content: center;
    align-items: center;
}
.head{
    width: 60%;
    margin: 0 auto;
}
.head h1{
    text-align: left;
    font-size: 32px;
    font-weight: 700;
}
.container h1{
    color: white;
    font-family: "Helvetica Neue",Helvetica,Arial;
    padding:70px 0 0 0;
}
.contain {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}
.container > form{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
form input[type="email"]{
    padding:17px;
    margin: 20px 20px 0px 20px;
    border-radius: 5px;
}

form input[type="password"]{
    padding:17px;
    margin: 8px 20px;
    border-radius: 5px;
}
form button[type="submit"]{
    padding:15px;
    margin: 20px;
    background-color:red;
    border:none;
    border-radius: 5px;
    color:white;
}

